USE [BIWTA]
GO
/****** Object:  Table [dbo].[zbusiness]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zbusiness](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zid] [int] NOT NULL,
	[xshort] [varchar](255) NULL,
	[xtaxnum] [varchar](255) NULL,
	[zorg] [varchar](255) NULL,
	[xcity] [varchar](255) NULL,
	[xstate] [varchar](255) NULL,
	[xzip] [varchar](255) NULL,
	[xcountry] [varchar](255) NULL,
	[xphone] [varchar](255) NULL,
	[xfax] [varchar](255) NULL,
	[xcontact] [varchar](255) NULL,
	[xemail] [varchar](255) NULL,
	[xurl] [varchar](255) NULL,
	[xdformat] [varchar](255) NULL,
	[xdsep] [varchar](255) NULL,
	[xtimage] [varchar](255) NULL,
	[xbimage] [varchar](255) NULL,
	[xcustom] [varchar](255) NULL,
	[zactive] [varchar](255) NULL,
	[zemail] [varchar](255) NULL,
	[xmadd] [varchar](255) NULL,
	[zauserid] [varchar](255) NULL,
	[zuuserid] [varchar](255) NULL,
	[zaip] [varchar](255) NULL,
	[zuip] [varchar](255) NULL,
	[xsignatory] [varchar](255) NULL,
	[xdesignation] [varchar](255) NULL,
	[xpadd] [varchar](255) NULL,
	[ximage] [varbinary](max) NULL,
	[xvatregno] [varchar](255) NULL,
	[xtin] [varchar](255) NULL,
	[xcur] [varchar](255) NULL,
	[xcat] [varchar](255) NULL,
	[xnatureofbusiness] [varchar](255) NULL,
	[xnatureoffinoper] [varchar](255) NULL,
	[xetin] [varchar](255) NULL,
	[xaccname] [varchar](255) NULL,
	[xbank] [varchar](255) NULL,
	[xbranch] [varchar](255) NULL,
	[xbacc] [varchar](255) NULL,
	[xacctype] [varchar](255) NULL,
	[xrouting] [varchar](255) NULL,
	[xauthorsign] [varbinary](max) NULL,
	[xbinadd] [varchar](255) NULL,
	[xvatdepstacc] [varchar](255) NULL,
	[xcomcode] [varchar](255) NULL,
	[xshortname] [varchar](255) NULL,
	[xcode] [varchar](255) NULL,
	[xurlupload] [varchar](255) NULL,
	[xbtype] [varchar](255) NULL,
	[XTYPE] [varchar](255) NULL,
 CONSTRAINT [PK__zbusiness__03A81637] PRIMARY KEY CLUSTERED 
(
	[zid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__zbusiness__049C3A70] UNIQUE NONCLUSTERED 
(
	[zemail] ASC,
	[zorg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[zabsysdateview]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[zabsysdateview] (zid,xyear,xper,day,xstarttime,xendtime,xtime,xdate,xdatechq,xyearperdate,xdaterec) as select a.zid,CAST(YEAR(GETDATE()) as INT),CAST(Month(GETDATE()) as INT),CAST(Day(GETDATE()) as INT), '00:00:00','23:59:59',CAST(GETDATE() AS TIME),cast(GETDATE() as date),GETDATE(), CAST(CONCAT(SUBSTRING(Convert(varchar,CAST(GETDATE() AS DATE)),1,4), SUBSTRING(Convert(varchar,CAST(GETDATE() AS DATE)),6,2), SUBSTRING(Convert(varchar,CAST(GETDATE() AS DATE)),9,2)) AS INT), CAST(DATEADD(MONTH,-1,CAST(GETDATE() AS DATE)) AS DATETIME) from zbusiness a WITH (NOLOCK)
GO
/****** Object:  Table [dbo].[xcodes]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xcodes](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](255) NULL,
	[zuuserid] [varchar](255) NULL,
	[zid] [int] NOT NULL,
	[xtype] [varchar](50) NOT NULL,
	[xcode] [varchar](100) NOT NULL,
	[xlong] [varchar](255) NULL,
	[zactive] [varchar](255) NULL,
	[xacc] [varchar](50) NULL,
	[xaccvat] [varchar](50) NULL,
	[xaccdisc] [varchar](50) NULL,
	[xaccait] [varchar](50) NULL,
	[xaccret] [varchar](50) NULL,
	[xaccpur] [varchar](50) NULL,
	[xaccwo] [varchar](50) NULL,
	[xprops] [varchar](250) NULL,
	[xmadd] [varchar](255) NULL,
	[xphone] [varchar](255) NULL,
	[xfax] [varchar](250) NULL,
	[xemail] [varchar](255) NULL,
	[xarea] [varchar](50) NULL,
	[xwh] [varchar](50) NULL,
	[xregion] [varchar](50) NULL,
	[xfield] [varchar](50) NULL,
	[xterritory] [varchar](50) NULL,
	[xhrc1] [varchar](50) NULL,
	[xdeptname] [varchar](50) NULL,
	[xtypeobj] [varchar](255) NULL,
	[xtrcode] [varchar](250) NULL,
	[xtargetshare] [decimal](20, 2) NULL,
	[xpercent] [decimal](20, 2) NULL,
	[xaccother] [varchar](50) NULL,
	[xtwh] [varchar](50) NULL,
	[xshiftimin] [time](7) NULL,
	[xshiftimout] [time](7) NULL,
	[xattimecon] [varchar](6) NULL,
	[xemptimeout] [varchar](6) NULL,
	[xincholiday] [varchar](50) NULL,
	[xtypestore] [varchar](50) NULL,
	[xproject] [varchar](50) NULL,
	[xaccreg] [varchar](50) NULL,
	[xaccdr] [varchar](50) NULL,
	[xacccash] [varchar](50) NULL,
	[xgtype] [varchar](255) NULL,
	[xvatrate] [decimal](20, 2) NULL,
	[xmaxbal] [decimal](20, 2) NULL,
	[xapplyat] [varchar](50) NULL,
	[xappleave] [varchar](1) NULL,
	[xservicetenure] [int] NULL,
	[xmonthlymax] [int] NULL,
	[xprofitcntrcat] [varchar](50) NULL,
	[xdivision] [varchar](50) NULL,
	[xdistrict] [varchar](50) NULL,
	[xprofitcntr] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xtype] ASC,
	[xcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[departmentview]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[departmentview](zid,xtype,xlong,xcode,zactive,xdeptname) AS SELECT a.zid,b.xtype,b.xlong,b.xcode,b.zactive,b.xcode FROM zbusiness a with(nolock) JOIN xcodes b with(nolock) ON a.zid=b.zid WHERE b.xtype='Department Name'
GO
/****** Object:  View [dbo].[designationview]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[designationview](zid,xtype,xlong,xcode,zactive,xdesignation) AS SELECT a.zid,b.xtype,b.xlong,b.xcode,b.zactive,b.xcode FROM zbusiness a with(nolock) JOIN xcodes b with(nolock) ON a.zid=b.zid WHERE b.xtype='Designation'
GO
/****** Object:  Table [dbo].[pdmst]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pdmst](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](255) NULL,
	[zuuserid] [varchar](255) NULL,
	[zid] [int] NOT NULL,
	[xstaff] [varchar](50) NOT NULL,
	[xname] [varchar](255) NULL,
	[xfname] [varchar](255) NULL,
	[xmname] [varchar](255) NULL,
	[xmadd] [varchar](255) NULL,
	[xpadd] [varchar](255) NULL,
	[xbirthdate] [datetime2](6) NULL,
	[xsex] [varchar](255) NULL,
	[xmstat] [varchar](255) NULL,
	[xgroup] [varchar](255) NULL,
	[xvillage] [varchar](255) NULL,
	[xpost] [varchar](255) NULL,
	[xlong] [varchar](255) NULL,
	[xreplaceid] [varchar](255) NULL,
	[xtypeposition] [varchar](255) NULL,
	[xdeptname] [varchar](255) NULL,
	[xsec] [varchar](255) NULL,
	[xdesignation] [varchar](255) NULL,
	[xdatejoin] [datetime2](6) NULL,
	[xgrade] [varchar](255) NULL,
	[xemail] [varchar](255) NULL,
	[xenddate] [datetime2](6) NULL,
	[xretdate] [datetime2](6) NULL,
	[xotapplicable] [varchar](255) NULL,
	[xbatch] [varchar](255) NULL,
	[xsalute] [varchar](255) NULL,
	[xspouse] [varchar](255) NULL,
	[xempstatus] [varchar](255) NULL,
	[xlocation] [varchar](255) NULL,
	[xemname] [varchar](255) NULL,
	[xrelation] [varchar](255) NULL,
	[xemcmobile] [varchar](255) NULL,
	[xmobile] [varchar](255) NULL,
	[xhomephone] [varchar](255) NULL,
	[xempjobstatus] [varchar](255) NULL,
	[xdistrict] [varchar](255) NULL,
	[xdatecom] [datetime2](6) NULL,
	[xinclude] [varchar](255) NULL,
	[xbank] [varchar](255) NULL,
	[xdesc] [varchar](255) NULL,
	[xacc] [varchar](255) NULL,
	[xprobenddate] [datetime] NULL,
	[xregino] [varchar](255) NULL,
	[xregiexpdate] [datetime] NULL,
	[xrehire] [varchar](255) NULL,
	[xthana] [varchar](255) NULL,
	[xnid] [varchar](255) NULL,
	[xdatejoinp] [datetime2](6) NULL,
	[xregtype] [varchar](255) NULL,
	[xposition] [varchar](255) NULL,
	[xtin] [varchar](255) NULL,
	[xempcategory] [varchar](255) NULL,
	[xstatus] [varchar](255) NULL,
	[xsid] [varchar](255) NULL,
	[xcar] [varchar](255) NULL,
	[ximage] [varbinary](max) NULL,
	[xbloodgroup] [varchar](255) NULL,
	[xphone] [varchar](255) NULL,
	[xgross] [float] NULL,
	[xleavecount] [float] NULL,
	[xhrc1] [varchar](255) NULL,
	[xhrc2] [varchar](255) NULL,
	[xhrc3] [varchar](255) NULL,
	[xhrc4] [varchar](255) NULL,
	[xplan] [varchar](255) NULL,
	[xsplan] [varchar](255) NULL,
	[xhour] [float] NULL,
	[xrate] [float] NULL,
	[xnimage] [varbinary](max) NULL,
	[xreligion] [varchar](255) NULL,
	[xsuperiorsp] [varchar](255) NULL,
	[xemptype] [varchar](255) NULL,
	[zactive] [varchar](255) NULL,
	[xsignature] [varbinary](max) NULL,
	[xfile] [varchar](255) NULL,
	[xidsup] [varchar](255) NULL,
	[xempposition] [varchar](255) NULL,
	[xgrossold] [float] NULL,
	[xsignatory] [varchar](255) NULL,
	[xrouting] [varchar](255) NULL,
	[xacctype] [varchar](255) NULL,
	[xempbank] [varchar](255) NULL,
	[xemailc] [varchar](255) NULL,
	[xfstname] [varchar](255) NULL,
	[xlstname] [varchar](255) NULL,
	[xbankamt] [float] NULL,
	[xcashamt] [float] NULL,
	[xempgrade] [varchar](255) NULL,
	[xsection] [varchar](255) NULL,
	[xshift] [varchar](255) NULL,
	[xemptimein] [varchar](255) NULL,
	[xemptimeout] [varchar](255) NULL,
	[xpfconrate] [float] NULL,
	[xpfdef] [varchar](255) NULL,
	[xitdef] [varchar](255) NULL,
	[xadminid] [varchar](255) NULL,
	[xweekday] [varchar](255) NULL,
	[xwkndnotapp] [varchar](255) NULL,
	[xnum] [int] NULL,
	[xlastcrdate] [datetime2](6) NULL,
	[xhdayapp] [varchar](255) NULL,
	[xtaxzone] [varchar](255) NULL,
	[xenddtcontract] [datetime2](6) NULL,
	[xsuperior2] [varchar](255) NULL,
	[xsuperior3] [varchar](255) NULL,
	[xsuperior4] [varchar](255) NULL,
	[xsuperior5] [varchar](255) NULL,
	[xsuperior6] [varchar](255) NULL,
	[xstatus1] [varchar](255) NULL,
	[xstatus2] [varchar](255) NULL,
	[xstatus3] [varchar](255) NULL,
	[xnote1] [varchar](255) NULL,
	[xnote2] [varchar](255) NULL,
	[xtaxamt] [float] NULL,
	[xdivision] [varchar](255) NULL,
	[xarea] [varchar](255) NULL,
	[xaccname] [varchar](255) NULL,
	[xbasic] [float] NULL,
	[xmtleavebal] [int] NULL,
	[xplanchange] [varchar](255) NULL,
	[xempunit] [varchar](255) NULL,
	[xwh] [varchar](255) NULL,
	[xnationality] [varchar](255) NULL,
	[xjobtitle] [varchar](255) NULL,
	[xmdlname] [varchar](255) NULL,
	[xprofdegree] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xstaff] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[pdmstview]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[pdmstview](ztime, zutime, zauserid, zuuserid, zid,xuserpr, xstaff, xname, xfname, xmname, xmadd, xpadd, xbirthdate, xsex, xmstat, xgroup, xdeptname, xsec, xdesignation, xdatejoin, xgrade,  xemail,  xenddate, xretdate, xempstatus, xlocation, xemname, xrelation, xemcmobile, xmobile, xtaxamt,  xdistrict, xdatecom, xinclude, xbank, xdesc, xacc,  xposition, xtin, xempcategory, xstatus, xbatch, xsid, xcar, ximage, xbloodgroup, xphone, xgross, xhrc1, xhrc2, xhrc3, xhrc4, xplan, xsplan, xhour, xrate, xnimage, xreligion, xemptype, zactive, xsignature, xfile, xidsup, xempposition, xgrossold, xsignatory, xrouting, xacctype, xempbank, xemailc, xfstname, xlstname, xbankamt, xcashamt, xempgrade, xsection, xshift, xemptimein, xemptimeout, xpfconrate, xpfdef, xitdef, xadminid, xweekday, xwkndnotapp,  xhdayapp, xtaxzone, xenddtcontract, xsuperior2, xsuperior3, xsuperior4, xsuperior5, xsuperior6, xstatus1, xstatus2, xstatus3, xsalute, xspouse, xhomephone, xprobenddate, xregino, xregiexpdate, xrehire,  xthana, xnid, xdatejoinp, xotapplicable, xregtype,  xempjobstatus, xvillage, xpost, xlong, xreplaceid, xtypeposition, departmentname, designationname, sectionname,zorg,xempunit,xtso,xwh )AS  select p.ztime, p.zutime, p.zauserid, p.zuuserid, p.zid,p.xstaff, p.xstaff,  p.xname,  p.xfname,  p.xmname,  p.xmadd,  p.xpadd,  p.xbirthdate, p.xsex, p.xmstat, p.xgroup,  p.xdeptname, p.xsec, p.xdesignation, p.xdatejoin, p.xgrade,  p.xemail,  p.xenddate, p.xretdate, p.xempstatus, p.xlocation, p.xemname, p.xrelation, p.xemcmobile, p.xmobile, p.xtaxamt, p.xdistrict,  p.xdatecom, p.xinclude, p.xbank, p.xdesc, p.xacc, p.xposition, p.xtin, p.xempcategory, p.xstatus, p.xbatch, p.xsid, p.xcar, p.ximage, p.xbloodgroup, p.xphone,  p.xgross, p.xhrc1, p.xhrc2, p.xhrc3, p.xhrc4, p.xplan, p.xsplan, p.xhour, p.xrate, p.xnimage, p.xreligion, p.xemptype, p.zactive, p.xsignature,  p.xfile, p.xidsup, p.xempposition, p.xgrossold, p.xsignatory, p.xrouting, p.xacctype, p.xempbank, p.xemailc, p.xfstname, p.xlstname, p.xbankamt, p.xcashamt,  p.xempgrade, p.xsection, p.xshift, p.xemptimein, p.xemptimeout, p.xpfconrate, p.xpfdef, p.xitdef, p.xadminid, p.xweekday, p.xwkndnotapp,  p.xhdayapp, p.xtaxzone, p.xenddtcontract, p.xsuperior2, p.xsuperior3, p.xsuperior4, p.xsuperior5, p.xsuperior6, p.xstatus1, p.xstatus2, p.xstatus3, p.xsalute, p.xspouse, p.xhomephone, p.xprobenddate, p.xregino, p.xregiexpdate, p.xrehire,  p.xthana, p.xnid, p.xdatejoinp, p.xotapplicable, p.xregtype, p.xempjobstatus, p.xvillage, p.xpost, p.xlong, p.xreplaceid, p.xtypeposition, b.xlong,  c.xlong, d.xlong,z.zorg,p.xempunit,p.xstaff,p.xwh from pdmst p WITH (NOLOCK) left JOIN xcodes b  WITH (NOLOCK) ON p.zid=b.zid and p.xdeptname = b.xcode and b.xtype='Department Name'left JOIN xcodes c WITH (NOLOCK) ON p.zid=c.zid and p.xdesignation = c.xcode and c.xtype='Designation'left JOIN xcodes d WITH (NOLOCK) ON p.zid=d.zid and p.xsection = d.xcode and d.xtype='Section' left JOIN zbusiness z WITH (NOLOCK) ON z.xcode=p.xempunit
GO
/****** Object:  Table [dbo].[xusers]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xusers](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](255) NULL,
	[zuuserid] [varchar](255) NULL,
	[zid] [int] NOT NULL,
	[zemail] [varchar](50) NOT NULL,
	[xpassword] [varchar](255) NULL,
	[xaccess] [varchar](255) NULL,
	[xdformat] [varchar](50) NULL,
	[xdsep] [varchar](50) NULL,
	[xrole] [varchar](50) NULL,
	[zactive] [varchar](255) NULL,
	[xlastlogdate] [datetime] NULL,
	[xname] [varchar](450) NULL,
	[zaip] [varchar](50) NULL,
	[zuip] [varchar](50) NULL,
	[xwh] [varchar](255) NULL,
	[xsp] [varchar](50) NULL,
	[xoldpass] [varchar](255) NULL,
	[xposition] [varchar](255) NULL,
	[zscreen] [varchar](50) NULL,
	[xproject] [varchar](50) NULL,
	[xyesno] [varchar](50) NULL,
	[zactiveapp] [varchar](1) NULL,
	[xnote] [varchar](5000) NULL,
	[xdateexp] [date] NULL,
	[zactiveopapp] [varchar](1) NULL,
	[xdefpass] [varchar](100) NULL,
	[xlastcpdate] [datetime] NULL,
	[xyesno2] [varchar](50) NULL,
 CONSTRAINT [PK__xusers__3A840497548E438A] PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[zemail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[userview]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[userview](zid,zemail,xposition,xname,xdeptname,xdesignation,zactive,xaccess,xrole,xstaff) as select a.zid,b.zemail,a.xposition,a.xname,a.xdeptname,a.xdesignation,b.zactive,b.xaccess,b.xrole,a.xstaff from pdmst a WITH (NOLOCK) join xusers b WITH (NOLOCK) on a.zid=b.zid and a.xposition=b.xposition
GO
/****** Object:  Table [dbo].[mmappointment]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mmappointment](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zid] [int] NOT NULL,
	[xcase] [varchar](50) NOT NULL,
	[xstatus] [varchar](50) NULL,
	[xstatuspharma] [varchar](50) NULL,
	[xdoctor] [varchar](50) NULL,
	[xstaff] [varchar](50) NULL,
	[xbirthdate] [date] NULL,
	[xsex] [varchar](50) NULL,
	[xyearperdate] [int] NULL,
	[xrow] [int] NULL,
	[xapptime] [time](7) NULL,
	[xmobile] [varchar](40) NULL,
	[xappcompleted] [datetime] NULL,
	[xcompleteid] [varchar](50) NULL,
	[xsendpharmadt] [datetime] NULL,
	[xsendpharmaid] [varchar](50) NULL,
	[xage] [varchar](50) NULL,
	[xposition] [varchar](50) NULL,
	[xdeptname] [varchar](50) NULL,
	[xnote] [varchar](5000) NULL,
	[xdesignation] [varchar](50) NULL,
	[xprofdegree] [varchar](250) NULL,
	[xstatusmodifyid] [varchar](50) NULL,
	[xstatusinvestigation] [varchar](50) NULL,
	[xinvestbillerid] [varchar](50) NULL,
	[xinvestbilldatetime] [datetime] NULL,
	[xdate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xcase] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[mmappointmentview]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[mmappointmentview] (ztime,zutime,zauserid,zuuserid,zid,xyearperdate,xdate,xdoctor,xcase,xrow,xstaff,xname,xapptime,xmobile,xstatus,xnote,xfdate,xorg,xage,xdeptname,xposition,departmentname,xstatuspharma,xstatusinvestigation) as select a.ztime,a.zutime,a.zauserid,a.zuuserid,a.zid,a.xyearperdate,convert(VARCHAR, a.xdate, 106),a.xdoctor,a.xcase,a.xrow,isnull(a.xstaff,''), case when isnull(b.xname,'')='' then isnull(a.xstaff,'') else isnull(b.xname,'') end  ,FORMAT(CAST( a.xapptime AS datetime), 'hh:mmtt'),isnull(a.xmobile,''),a.xstatus,a.xnote,a.xdate,p.xname,a.xage,p.xdeptname,p.xposition,p.departmentname,a.xstatuspharma,a.xstatusinvestigation from mmappointment (NOLOCK) a LEFT join pdmstview (NOLOCK) p on a.zid=p.zid and a.xdoctor=p.xstaff left join pdmst (NOLOCK) b on a.zid=b.zid and a.xstaff=b.xstaff
GO
/****** Object:  Table [dbo].[caitem]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[caitem](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zid] [int] NOT NULL,
	[xitem] [varchar](50) NOT NULL,
	[xdesc] [varchar](1000) NULL,
	[xgitem] [varchar](100) NULL,
	[xcitem] [varchar](50) NULL,
	[xcatitem] [varchar](100) NULL,
	[xrate] [decimal](20, 3) NULL,
	[xunitpur] [varchar](50) NULL,
	[xcost] [decimal](20, 2) NULL,
	[xvatamt] [decimal](20, 2) NULL,
	[xrateexp] [decimal](20, 2) NULL,
	[xhscode] [varchar](50) NULL,
	[xunit] [varchar](50) NULL,
	[xlong] [varchar](1000) NULL,
	[xtitem] [varchar](50) NULL,
	[xstype] [varchar](550) NULL,
	[xmrp] [decimal](20, 5) NULL,
	[xdealerp] [decimal](20, 5) NULL,
	[xpacking] [varchar](30) NULL,
	[xdisc] [decimal](5, 2) NULL,
	[xdateeff] [date] NULL,
	[xdateexp] [date] NULL,
	[xspecification] [varchar](1500) NULL,
	[xpackqty] [decimal](20, 2) NULL,
	[zactive] [varchar](1) NULL,
	[xdiscstatus] [varchar](50) NULL,
	[xpsize] [varchar](50) NULL,
	[xpnature] [varchar](50) NULL,
	[xbrand] [varchar](500) NULL,
	[xcfpur] [decimal](20, 6) NULL,
	[xcfsel] [decimal](20, 6) NULL,
	[xcfiss] [decimal](20, 6) NULL,
	[xunitsel] [varchar](50) NULL,
	[xunitiss] [varchar](50) NULL,
	[xshelf] [varchar](50) NULL,
	[xvatrate] [decimal](20, 2) NULL,
	[xminrate] [decimal](20, 3) NULL,
	[xminqty] [decimal](20, 3) NULL,
	[xunitpck] [varchar](50) NULL,
	[xtype] [varchar](50) NULL,
	[xcus] [varchar](250) NULL,
	[xitmedept] [varchar](50) NULL,
	[xitemsubdept] [varchar](50) NULL,
	[xpackweightnet] [decimal](20, 2) NULL,
	[xstocktype] [varchar](50) NULL,
	[xstockcat] [varchar](50) NULL,
	[xnote] [varchar](5000) NULL,
	[xmaxqty] [decimal](20, 3) NULL,
	[xprodnature] [varchar](50) NULL,
	[xitemnew] [varchar](50) NULL,
	[xitemserial] [varchar](50) NULL,
	[xyesno] [varchar](50) NULL,
	[xgenericname] [varchar](150) NULL,
	[xgenericdesc] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xitem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mmlaborder]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mmlaborder](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zid] [int] NOT NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[xrow] [int] NOT NULL,
	[xitem] [varchar](50) NULL,
	[xrem] [varchar](1000) NULL,
	[xcase] [varchar](50) NOT NULL,
	[xepisodeno] [varchar](50) NULL,
	[xepisodetype] [varchar](50) NULL,
	[xstatus] [varchar](50) NULL,
	[xpatdate] [date] NULL,
	[xotherinfo] [varchar](2000) NULL,
	[xinvestigationhistroy] [varchar](1000) NULL,
	[xqty] [int] NULL,
	[xqtyord3] [decimal](20, 3) NULL,
	[xinvestigationstatus] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xcase] ASC,
	[xrow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[mmlaborderview]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[mmlaborderview] (ztime,zutime,zid,zauserid,zuuserid,xcase,xepisodeno,xepisodetype,xrow,xitem,xdesc,xgitem,xlong,xrem,xstaff,xqty,xqtyord3,xinvestigationstatus,xotherinfo,button) as select a.ztime,a.zutime,a.zid,a.zauserid,a.zuuserid,a.xcase,a.xepisodeno,a.xepisodetype,a.xrow,a.xitem,p.xdesc,p.xgitem,d.xlong,a.xrem,b.xstaff,a.xqty,a.xqtyord3,a.xinvestigationstatus,a.xotherinfo,'<button id="deletebtn" onclick="deletebtn('''+a.xitem+''','''+cast (a.xrow as varchar)+''')" type="button" class="btn btn-danger">Delete</button>' from mmlaborder a WITH (NOLOCK) join caitem p on a.zid=p.zid and a.xitem=p.xitem JOIN caitem c on a.zid=c.zid and a.xitem=c.xitem JOIN xcodes d ON p.zid=d.zid and p.xgitem = d.xcode JOIN mmappointment b WITH (NOLOCK) ON a.zid=b.zid and a.xcase = b.xcase where d.xtype='Item Group'
GO
/****** Object:  Table [dbo].[mmdoclabprofile]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mmdoclabprofile](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zid] [int] NOT NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[xstaff] [varchar](50) NOT NULL,
	[xrow] [int] NOT NULL,
	[xitem] [varchar](50) NULL,
	[xrem] [varchar](1000) NULL,
	[xcollection] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xstaff] ASC,
	[xrow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[mmdoclabprofileview]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[mmdoclabprofileview] (ztime,zutime,zid,zauserid,zuuserid,xstaff,xrow,xitem,xdesc,xgitem,xlong,xrem,xcollection) as select a.ztime,a.zutime,a.zid,a.zauserid,a.zuuserid,a.xstaff,a.xrow,a.xitem,p.xdesc,p.xgitem,d.xlong,a.xrem,xcollection from mmdoclabprofile a join caitem p on a.zid=p.zid and a.xitem=p.xitem JOIN xcodes d ON p.zid=d.zid and p.xgitem = d.xcode where d.xtype='Item Group'
GO
/****** Object:  Table [dbo].[mmprescription]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mmprescription](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zid] [int] NOT NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[xrow] [int] NOT NULL,
	[xcase] [varchar](50) NOT NULL,
	[xpatient] [varchar](50) NULL,
	[xfdate] [date] NULL,
	[xtdate] [date] NULL,
	[xgenericname] [varchar](100) NULL,
	[xstrengthgn] [varchar](50) NULL,
	[xunit] [varchar](50) NULL,
	[xdrugtype] [varchar](100) NULL,
	[xdesc] [varchar](1000) NULL,
	[xgenericdesc] [varchar](350) NULL,
	[xinst] [varchar](50) NULL,
	[xtemplateinst] [varchar](100) NULL,
	[xdrug] [varchar](50) NULL,
	[xdosage] [varchar](50) NULL,
	[xdose] [varchar](50) NULL,
	[xfrequency] [varchar](50) NULL,
	[xtakingtime] [varchar](50) NULL,
	[xduration1] [varchar](50) NULL,
	[xdurationday] [varchar](50) NULL,
	[xqty] [int] NULL,
	[xrem] [varchar](1000) NULL,
	[xroute] [varchar](50) NULL,
	[xmeddetail] [varchar](500) NULL,
	[xmedcadvice] [varchar](500) NULL,
	[xitem1] [varchar](50) NULL,
	[xitem2] [varchar](50) NULL,
	[xitem3] [varchar](50) NULL,
	[xqtyord1] [decimal](20, 3) NULL,
	[xqtyord2] [decimal](20, 3) NULL,
	[xqtyord3] [decimal](20, 3) NULL,
	[xinst2] [varchar](50) NULL,
	[xinst3] [varchar](50) NULL,
	[xwh] [varchar](50) NULL,
	[xwhcomp] [varchar](50) NULL,
	[xqtyord] [decimal](20, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xcase] ASC,
	[xrow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[mmprescriptionview]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[mmprescriptionview] (ztime,zutime,zauserid,zuuserid,zid,xgenericdesc,xinst,xtdate,xdosage,xdose,xfrequency,xtakingtime,xdurationday,xqty,xroute,xduration1, xstaff,xcase,xgenericname,xstrengthgn,xdrug,xqtyord,xdrugtype,xfdate,xrem,xmeddetail,xrow,xmedcadvice,button) as select a.ztime,a.zutime,a.zauserid,a.zuuserid,b.zid,a.xgenericdesc,a.xinst,convert(VARCHAR, b.xdate, 106),a.xdosage,a.xdose,a.xfrequency,a.xtakingtime,a.xdurationday,a.xqty,a.xroute,a.xduration1,b.xstaff,b.xcase,a.xgenericname,a.xstrengthgn,a.xdrug,a.xqtyord,a.xdrugtype,a.xfdate,a.xrem, a.xmeddetail,a.xrow,a.xmedcadvice,'<button id="deletebtn" onclick="deletebtn('''+a.xgenericdesc+''','''+cast (a.xrow as varchar)+''')" type="button" class="btn btn-danger" style="width: 70px;background-color: #dc3545;border-color: #dc3545;line-height: 1.2;color: #fff;display: inline-block;font-weight: 400;font-size: 1rem;padding: 0.375rem 0.75rem;">Delete</button>' from mmappointment b WITH (NOLOCK)  left join mmprescription a WITH (NOLOCK) on a.zid=b.zid and a.xcase=b.xcase
GO
/****** Object:  View [dbo].[caitemchargesview]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[caitemchargesview](zid,xitem,xdesc,xgitem, xcitem,xunit,xtitem,xtype,xlong,xgenericname,xgenericdesc) as  SELECT  dbo.caitem.zid,dbo.caitem.xitem, dbo.caitem.xdesc, dbo.caitem.xgitem, dbo.caitem.xcitem, dbo.caitem.xunit, dbo.caitem.xtitem,dbo.xcodes.xtype,dbo.xcodes.xlong,dbo.caitem.xgenericname,dbo.caitem.xgenericdesc FROM   dbo.caitem INNER JOIN dbo.xcodes ON dbo.caitem.zid = dbo.xcodes.zid and dbo.caitem.xgitem = dbo.xcodes.xcode where dbo.xcodes.xtype='Item Group'  and dbo.caitem.zactive='1'
GO
/****** Object:  Table [dbo].[apvprcs]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[apvprcs](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zid] [int] NOT NULL,
	[xtypetrn] [varchar](50) NOT NULL,
	[xposition] [varchar](50) NOT NULL,
	[xdesignation] [varchar](50) NULL,
	[xrow] [int] NULL,
	[xstatus] [varchar](50) NULL,
	[xdesc] [varchar](1000) NULL,
	[zactive] [varchar](1) NULL,
	[xsubprcs] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xtypetrn] ASC,
	[xposition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[audit_logs]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_logs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[action] [varchar](255) NOT NULL,
	[details] [varchar](255) NULL,
	[resource] [varchar](255) NOT NULL,
	[timestamp] [datetime2](6) NOT NULL,
	[username] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auditlog]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auditlog](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](255) NOT NULL,
	[action] [nvarchar](255) NOT NULL,
	[timestamp] [datetime] NOT NULL,
	[resource] [nvarchar](255) NOT NULL,
	[details] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[casup]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[casup](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zid] [int] NOT NULL,
	[xsup] [varchar](50) NOT NULL,
	[xorg] [varchar](250) NULL,
	[xmadd] [varchar](250) NULL,
	[xpadd] [varchar](500) NULL,
	[xemail] [varchar](250) NULL,
	[xphone] [varchar](150) NULL,
	[xfax] [varchar](250) NULL,
	[xurl] [varchar](50) NULL,
	[xcontact] [varchar](250) NULL,
	[xmobile] [varchar](40) NULL,
	[xgsup] [varchar](50) NULL,
	[xsupcat] [varchar](50) NULL,
	[xstatussup] [varchar](50) NULL,
	[xait] [decimal](20, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xsup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[imstoretag]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[imstoretag](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zid] [int] NOT NULL,
	[xwh] [varchar](50) NOT NULL,
	[xtype] [varchar](50) NOT NULL,
	[xtwh] [varchar](50) NULL,
	[zactive] [varchar](1) NULL,
	[xnote] [varchar](5000) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xwh] ASC,
	[xtype] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mmdocdrugprofile]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mmdocdrugprofile](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zid] [int] NOT NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[xstaff] [varchar](50) NOT NULL,
	[xrow] [int] NOT NULL,
	[xgenericname] [varchar](100) NULL,
	[xdesc] [varchar](1000) NULL,
	[xgenericdesc] [varchar](350) NULL,
	[xstrengthgn] [varchar](50) NULL,
	[xdosage] [varchar](50) NULL,
	[xdose] [varchar](50) NULL,
	[xfrequency] [varchar](50) NULL,
	[xtakingtime] [varchar](50) NULL,
	[xduration1] [varchar](50) NULL,
	[xdurationday] [varchar](50) NULL,
	[xrem] [varchar](1000) NULL,
	[xdrugtype] [varchar](100) NULL,
	[xroute] [varchar](50) NULL,
	[xtemplateinst] [varchar](100) NULL,
	[xmeddetail] [varchar](500) NULL,
	[xcollection] [char](1) NULL,
	[xqtyord] [decimal](20, 3) NULL,
	[xinst] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xstaff] ASC,
	[xrow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mmonexam]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mmonexam](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zid] [int] NOT NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[xrow] [int] NOT NULL,
	[xcase] [varchar](50) NOT NULL,
	[xepisodetype] [varchar](50) NULL,
	[xepisodeno] [varchar](50) NULL,
	[xlong] [varchar](1000) NULL,
	[xrem] [varchar](1000) NULL,
	[xcode] [varchar](100) NULL,
	[xnote] [varchar](5000) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xcase] ASC,
	[xrow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mmpreschistory]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mmpreschistory](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zid] [int] NOT NULL,
	[xrow] [int] NULL,
	[xcase] [varchar](50) NOT NULL,
	[xstaff] [varchar](50) NULL,
	[xdoctor] [varchar](50) NULL,
	[xage] [varchar](50) NULL,
	[xstatus] [varchar](50) NULL,
	[xsex] [varchar](50) NULL,
	[xyearperdate] [int] NULL,
	[xsuspecteddisease] [varchar](10) NULL,
	[xadvice] [varchar](500) NULL,
	[xrisk] [varchar](250) NULL,
	[xchiefcomplain] [varchar](2000) NULL,
	[xfamilyother] [varchar](5000) NULL,
	[xsurgicalhistory] [varchar](250) NULL,
	[xfamilyhistory] [varchar](250) NULL,
	[xother] [varchar](1000) NULL,
	[xdrughistory] [varchar](250) NULL,
	[xdrughistoryothers] [varchar](250) NULL,
	[xobhistory] [varchar](1000) NULL,
	[xmeandobhistory] [varchar](50) NULL,
	[xcontraception] [varchar](500) NULL,
	[xinvestigationhistroy] [varchar](1000) NULL,
	[xfollowupadvice] [varchar](2000) NULL,
	[xpatadvice] [varchar](50) NULL,
	[xadadvice] [varchar](1000) NULL,
	[xrefdoctor] [varchar](50) NULL,
	[xlong] [varchar](1000) NULL,
	[xcode] [varchar](100) NULL,
	[xprovdiagnosis] [varchar](250) NULL,
	[xdiagnosis] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xcase] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mmprescriptiondummy]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mmprescriptiondummy](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zid] [int] NOT NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[xrow] [int] NOT NULL,
	[xcase] [varchar](50) NOT NULL,
	[xpatient] [varchar](50) NULL,
	[xfdate] [date] NULL,
	[xtdate] [date] NULL,
	[xgenericname] [varchar](100) NULL,
	[xstrengthgn] [varchar](50) NULL,
	[xunit] [varchar](50) NULL,
	[xdrugtype] [varchar](100) NULL,
	[xdesc] [varchar](1000) NULL,
	[xgenericdesc] [varchar](350) NULL,
	[xinst] [varchar](50) NULL,
	[xtemplateinst] [varchar](100) NULL,
	[xdrug] [varchar](50) NULL,
	[xdosage] [varchar](50) NULL,
	[xdose] [varchar](50) NULL,
	[xfrequency] [varchar](50) NULL,
	[xtakingtime] [varchar](50) NULL,
	[xduration1] [varchar](50) NULL,
	[xdurationday] [varchar](50) NULL,
	[xqty] [int] NULL,
	[xrem] [varchar](1000) NULL,
	[xroute] [varchar](50) NULL,
	[xmeddetail] [varchar](500) NULL,
	[xmedcadvice] [varchar](500) NULL,
	[xitem1] [varchar](50) NULL,
	[xitem2] [varchar](50) NULL,
	[xitem3] [varchar](50) NULL,
	[xqtyord1] [decimal](20, 3) NULL,
	[xqtyord2] [decimal](20, 3) NULL,
	[xqtyord3] [decimal](20, 3) NULL,
	[xinst2] [varchar](50) NULL,
	[xinst3] [varchar](50) NULL,
	[xwh] [varchar](50) NULL,
	[xwhcomp] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xcase] ASC,
	[xrow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pdappsuperior]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pdappsuperior](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zid] [int] NOT NULL,
	[xstaff] [varchar](50) NOT NULL,
	[xtypetrn] [varchar](50) NOT NULL,
	[xcode] [varchar](100) NOT NULL,
	[xstatus] [varchar](50) NULL,
	[xsignatory1] [varchar](50) NULL,
	[xsignatory2] [varchar](50) NULL,
	[xsignatory3] [varchar](50) NULL,
	[xsignatory4] [varchar](50) NULL,
	[xsignatory5] [varchar](50) NULL,
	[xsignatory6] [varchar](50) NULL,
	[xsignatory7] [varchar](50) NULL,
	[xsignatory8] [varchar](50) NULL,
	[xsignatory9] [varchar](50) NULL,
	[xsignatory1p1] [varchar](50) NULL,
	[xsignatory2p1] [varchar](50) NULL,
	[xsignatory3p1] [varchar](50) NULL,
	[xsignatory4p1] [varchar](50) NULL,
	[xsignatory5p1] [varchar](50) NULL,
	[xsignatory6p1] [varchar](50) NULL,
	[xsignatory7p1] [varchar](50) NULL,
	[xsignatory8p1] [varchar](50) NULL,
	[xsignatory9p1] [varchar](50) NULL,
	[xsignatory1p2] [varchar](50) NULL,
	[xsignatory2p2] [varchar](50) NULL,
	[xsignatory3p2] [varchar](50) NULL,
	[xsignatory4p2] [varchar](50) NULL,
	[xsignatory5p2] [varchar](50) NULL,
	[xsignatory6p2] [varchar](50) NULL,
	[xsignatory7p2] [varchar](50) NULL,
	[xsignatory8p2] [varchar](50) NULL,
	[xsignatory9p2] [varchar](50) NULL,
	[xnum1] [int] NULL,
	[xnum2] [int] NULL,
	[xnum3] [int] NULL,
	[xnum4] [int] NULL,
	[xnum5] [int] NULL,
	[xnum6] [int] NULL,
	[xnum7] [int] NULL,
	[xnum8] [int] NULL,
	[xnum9] [int] NULL,
	[xapstatus1] [varchar](50) NULL,
	[xapstatus2] [varchar](50) NULL,
	[xapstatus3] [varchar](50) NULL,
	[xapstatus4] [varchar](50) NULL,
	[xapstatus5] [varchar](50) NULL,
	[xapstatus6] [varchar](50) NULL,
	[xapstatus7] [varchar](50) NULL,
	[xapstatus8] [varchar](50) NULL,
	[xapstatus9] [varchar](50) NULL,
	[xdeligate1] [varchar](50) NULL,
	[xdeligate2] [varchar](50) NULL,
	[xdeligate3] [varchar](50) NULL,
	[xdeligate4] [varchar](50) NULL,
	[xdeligate5] [varchar](50) NULL,
	[xdeligate6] [varchar](50) NULL,
	[xdeligate7] [varchar](50) NULL,
	[xdeligate8] [varchar](50) NULL,
	[xdeligate9] [varchar](50) NULL,
	[xdeligate1p1] [varchar](50) NULL,
	[xdeligate2p1] [varchar](50) NULL,
	[xdeligate3p1] [varchar](50) NULL,
	[xdeligate4p1] [varchar](50) NULL,
	[xdeligate5p1] [varchar](50) NULL,
	[xdeligate6p1] [varchar](50) NULL,
	[xdeligate7p1] [varchar](50) NULL,
	[xdeligate8p1] [varchar](50) NULL,
	[xdeligate9p1] [varchar](50) NULL,
	[xdeligate1p2] [varchar](50) NULL,
	[xdeligate2p2] [varchar](50) NULL,
	[xdeligate3p2] [varchar](50) NULL,
	[xdeligate4p2] [varchar](50) NULL,
	[xdeligate5p2] [varchar](50) NULL,
	[xdeligate6p2] [varchar](50) NULL,
	[xdeligate7p2] [varchar](50) NULL,
	[xdeligate8p2] [varchar](50) NULL,
	[xdeligate9p2] [varchar](50) NULL,
	[xnote] [varchar](5000) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xstaff] ASC,
	[xtypetrn] ASC,
	[xcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pddef]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pddef](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zid] [int] NOT NULL,
	[xpfconrate] [decimal](20, 2) NULL,
	[xpfeffdate] [date] NULL,
	[xpfloanintrate] [decimal](20, 2) NULL,
	[xpfloaninteffdate] [date] NULL,
	[xconveyancelimit] [decimal](20, 2) NULL,
	[xinvrebaterate] [decimal](20, 2) NULL,
	[xinvlimitper] [decimal](20, 2) NULL,
	[xinvlimitmax] [decimal](20, 2) NULL,
	[xinveffdate] [date] NULL,
	[xhrentper] [decimal](20, 2) NULL,
	[xhrentmax] [decimal](20, 2) NULL,
	[xhrenteffdate] [date] NULL,
	[xfreefurrate] [decimal](20, 2) NULL,
	[xmedexemption] [decimal](20, 2) NULL,
	[xwelfarefund] [decimal](20, 2) NULL,
	[xutility] [decimal](20, 2) NULL,
	[xhrentdeduct] [decimal](20, 2) NULL,
	[xuniondues] [decimal](20, 2) NULL,
	[xyear] [int] NULL,
	[xothours] [decimal](20, 2) NULL,
	[xotrate] [decimal](20, 2) NULL,
	[xoffset] [int] NULL,
	[xcsrconrate] [decimal](20, 0) NULL,
	[xcode] [varchar](100) NULL,
	[xemail] [varchar](250) NULL,
	[xpassword] [varchar](50) NULL,
	[xstartday] [int] NULL,
	[xendday] [int] NULL,
	[xbimage] [varchar](250) NULL,
	[xnidimage] [varchar](50) NULL,
	[xattimecon] [varchar](6) NULL,
	[xpunchcon] [varchar](6) NULL,
	[xemptimeout] [varchar](6) NULL,
	[xltelfine] [int] NULL,
	[xfine] [decimal](20, 2) NULL,
	[xtypetrn] [varchar](50) NULL,
	[xpfmax] [decimal](20, 2) NULL,
	[xempserial] [varchar](50) NULL,
	[xyesno] [varchar](50) NULL,
	[xhour] [decimal](20, 2) NULL,
	[xprevroster] [varchar](50) NULL,
	[xprevleave] [varchar](50) NULL,
	[xdateexp] [date] NULL,
	[xrateinterest] [decimal](20, 3) NULL,
	[xsuperior2] [varchar](8) NULL,
	[xsuperior3] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pddependent]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pddependent](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](255) NULL,
	[zuuserid] [varchar](255) NULL,
	[zid] [int] NOT NULL,
	[xstaff] [varchar](50) NOT NULL,
	[xrow] [int] NOT NULL,
	[xname] [varchar](255) NULL,
	[xbirthdate] [date] NULL,
	[xsex] [varchar](255) NULL,
	[xnid] [varchar](255) NULL,
	[xadd] [varchar](255) NULL,
	[xcontact] [varchar](255) NULL,
	[xemail] [varchar](255) NULL,
	[xrelation] [varchar](255) NULL,
	[xfile] [varchar](255) NULL,
	[ximage] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xstaff] ASC,
	[xrow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pdempat]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pdempat](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zid] [int] NOT NULL,
	[xstaff] [varchar](50) NOT NULL,
	[xdate] [date] NULL,
	[xyearperdate] [int] NOT NULL,
	[xposition] [varchar](50) NULL,
	[xtimein] [datetime] NULL,
	[xtimeout] [datetime] NULL,
	[xstatus] [varchar](50) NULL,
	[xnote] [varchar](5000) NULL,
	[xdayname] [varchar](50) NULL,
	[xemplate] [char](6) NULL,
	[xstatuslate] [varchar](50) NULL,
	[xempearly] [char](6) NULL,
	[xstatusel] [varchar](50) NULL,
	[xshift] [varchar](50) NOT NULL,
	[xstatusabsent] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xstaff] ASC,
	[xyearperdate] ASC,
	[xshift] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pdemptransfer]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pdemptransfer](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zid] [int] NOT NULL,
	[xstaff] [varchar](50) NOT NULL,
	[xrow] [int] NOT NULL,
	[xfdept] [varchar](50) NULL,
	[xtdept] [varchar](50) NULL,
	[xfpos] [varchar](50) NULL,
	[xtpos] [varchar](50) NULL,
	[xdate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xstaff] ASC,
	[xrow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pdexperience]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pdexperience](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zid] [int] NOT NULL,
	[xstaff] [varchar](50) NOT NULL,
	[xrow] [int] NOT NULL,
	[xname] [varchar](450) NULL,
	[xduration] [decimal](20, 3) NULL,
	[xnote] [varchar](5000) NULL,
	[xtypetrn] [varchar](50) NULL,
	[xtype] [varchar](50) NULL,
	[xnote1] [varchar](5000) NULL,
	[xsid] [varchar](50) NULL,
	[xdatefrom] [date] NULL,
	[xdateto] [date] NULL,
	[xfdate] [date] NULL,
	[xtdate] [date] NULL,
	[xorg] [varchar](250) NULL,
	[xdesignation] [varchar](50) NULL,
	[xphone] [varchar](150) NULL,
	[xpadd] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xstaff] ASC,
	[xrow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pdmstdetail]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pdmstdetail](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zid] [int] NOT NULL,
	[xstaff] [varchar](50) NOT NULL,
	[xrow] [int] NOT NULL,
	[xdate] [date] NULL,
	[xlong] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xstaff] ASC,
	[xrow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pdsignatoryrpt]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pdsignatoryrpt](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zid] [int] NOT NULL,
	[xtypetrn] [varchar](50) NOT NULL,
	[xsignatory1] [varchar](50) NULL,
	[xsignatory2] [varchar](50) NULL,
	[xsignatory3] [varchar](50) NULL,
	[xsignatory4] [varchar](50) NULL,
	[xsignatory5] [varchar](50) NULL,
	[xsignatory6] [varchar](50) NULL,
	[xsignatory7] [varchar](50) NULL,
	[xsignatory8] [varchar](50) NULL,
	[xsignatory9] [varchar](50) NULL,
	[xnofsignatory] [int] NULL,
	[xlong] [varchar](1000) NULL,
	[xsubprcs] [varchar](50) NULL,
	[xrow] [int] NULL,
	[xyesno] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xtypetrn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pdsuperior]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pdsuperior](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zid] [int] NOT NULL,
	[xstaff] [varchar](50) NOT NULL,
	[xtypetrn] [varchar](50) NOT NULL,
	[xshift] [varchar](50) NOT NULL,
	[xreqtype] [varchar](50) NOT NULL,
	[xprime] [decimal](20, 2) NOT NULL,
	[xmaxbal] [decimal](20, 2) NULL,
	[xposition] [varchar](50) NULL,
	[xrow] [int] NULL,
	[xlong] [varchar](1000) NULL,
	[xsuperior2] [varchar](8) NULL,
	[xsuperior3] [varchar](8) NULL,
	[xsuperior4] [varchar](8) NULL,
	[xsuperior5] [varchar](8) NULL,
	[xsuperior6] [varchar](8) NULL,
	[xstatus] [varchar](50) NULL,
	[xsubprcs] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xstaff] ASC,
	[xtypetrn] ASC,
	[xshift] ASC,
	[xreqtype] ASC,
	[xprime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserActionLog]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserActionLog](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](255) NOT NULL,
	[action] [nvarchar](255) NOT NULL,
	[timestamp] [datetime] NOT NULL,
	[resource] [nvarchar](255) NOT NULL,
	[details] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usergroup]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usergroup](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zid] [int] NOT NULL,
	[zemail] [varchar](50) NOT NULL,
	[xposition] [varchar](50) NULL,
	[xrow] [int] NOT NULL,
	[xempcategory] [varchar](50) NULL,
	[xgroup] [varchar](50) NULL,
	[xlong] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[zemail] ASC,
	[xrow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userpasspolicy]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userpasspolicy](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zid] [int] NOT NULL,
	[xppapp] [varchar](50) NULL,
	[xminchr] [int] NULL,
	[xcapitalchr] [varchar](50) NULL,
	[xsmallchr] [varchar](50) NULL,
	[xspecialchr] [varchar](50) NULL,
	[xexpday] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userprodnature]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userprodnature](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zid] [int] NOT NULL,
	[zemail] [varchar](50) NOT NULL,
	[xprodnature] [varchar](50) NOT NULL,
	[xposition] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[zemail] ASC,
	[xprodnature] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userrepaccess]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userrepaccess](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zid] [int] NOT NULL,
	[zemail] [varchar](50) NOT NULL,
	[xcode] [varchar](100) NOT NULL,
	[xlong] [varchar](1000) NULL,
	[xtype] [varchar](50) NOT NULL,
	[zactive] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[zemail] ASC,
	[xcode] ASC,
	[xtype] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userstore]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userstore](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zid] [int] NOT NULL,
	[zemail] [varchar](50) NOT NULL,
	[xwh] [varchar](50) NOT NULL,
	[xposition] [varchar](50) NULL,
	[xlong] [varchar](1000) NULL,
	[zactive] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[zemail] ASC,
	[xwh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userunits]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userunits](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zid] [int] NOT NULL,
	[zemail] [varchar](50) NOT NULL,
	[xposition] [varchar](50) NULL,
	[xrow] [int] NOT NULL,
	[xempunit] [varchar](50) NULL,
	[xempcategory] [varchar](50) NULL,
	[xgroup] [varchar](50) NULL,
	[xlong] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[zemail] ASC,
	[xrow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vitalssign]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vitalssign](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zid] [int] NOT NULL,
	[xcase] [varchar](50) NOT NULL,
	[xyearperdate] [int] NULL,
	[xdate] [date] NULL,
	[xdoctor] [varchar](50) NULL,
	[xstaff] [varchar](50) NULL,
	[xrow] [int] NOT NULL,
	[xvitalcheckup] [time](7) NULL,
	[xpulserate] [varchar](50) NULL,
	[xbp] [varchar](50) NULL,
	[xtemperature] [varchar](50) NULL,
	[xspo2] [varchar](50) NULL,
	[xrbs] [varchar](50) NULL,
	[xheartrate] [varchar](50) NULL,
	[xbmigyn] [decimal](20, 2) NULL,
	[xheightvit] [varchar](50) NULL,
	[xweightvit] [varchar](50) NULL,
	[xnote] [varchar](5000) NULL,
	[xibwwom] [decimal](20, 2) NULL,
	[xibwmen] [decimal](20, 2) NULL,
	[xbsa] [decimal](20, 5) NULL,
	[xrem] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xcase] ASC,
	[xrow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[xlocals]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xlocals](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zid] [int] NOT NULL,
	[xtypelocal] [varchar](50) NOT NULL,
	[xname] [varchar](450) NOT NULL,
	[xcaption] [varchar](500) NULL,
	[xlong] [varchar](1000) NULL,
	[xtrns] [varchar](500) NULL,
	[xcodes] [varchar](500) NULL,
	[xprops] [varchar](250) NULL,
	[zactive] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xtypelocal] ASC,
	[xname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[xpermits]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xpermits](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zid] [int] NOT NULL,
	[xmenu] [varchar](50) NOT NULL,
	[xoption] [varchar](50) NOT NULL,
	[xalist] [varchar](100) NULL,
	[zactive] [varchar](1) NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zaip] [varchar](50) NULL,
	[zuip] [varchar](50) NULL,
	[xchild] [varchar](50) NULL,
	[xlocation] [varchar](150) NULL,
	[xnote] [varchar](5000) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xmenu] ASC,
	[xoption] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[xprivilege]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xprivilege](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zid] [int] NOT NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zemail] [varchar](50) NOT NULL,
	[zscreen] [varchar](50) NOT NULL,
	[xfields] [varchar](50) NOT NULL,
	[xoption] [varchar](50) NULL,
	[xtype] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[zemail] ASC,
	[zscreen] ASC,
	[xfields] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[xrolepermits]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xrolepermits](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zid] [int] NOT NULL,
	[xrole] [varchar](50) NOT NULL,
	[xmenu] [varchar](50) NOT NULL,
	[xoption] [varchar](50) NOT NULL,
	[xparentmenu] [varchar](250) NOT NULL,
	[xparentoption] [varchar](250) NOT NULL,
	[zscreen] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xrole] ASC,
	[xmenu] ASC,
	[xoption] ASC,
	[xparentmenu] ASC,
	[xparentoption] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[xroleprivilege]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xroleprivilege](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zid] [int] NOT NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[xrole] [varchar](50) NOT NULL,
	[zscreen] [varchar](50) NOT NULL,
	[xfields] [varchar](50) NOT NULL,
	[xoption] [varchar](50) NULL,
	[xtype] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xrole] ASC,
	[zscreen] ASC,
	[xfields] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[xroles]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xroles](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zid] [int] NOT NULL,
	[xrole] [varchar](50) NOT NULL,
	[xdesc] [varchar](1000) NULL,
	[xaccess] [varchar](50) NULL,
	[zactive] [varchar](1) NULL,
	[xotp] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xrole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[xtrn]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xtrn](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zid] [int] NOT NULL,
	[xtypetrn] [varchar](50) NOT NULL,
	[xtrn] [char](4) NOT NULL,
	[xaction] [varchar](50) NULL,
	[xdesc] [varchar](1000) NULL,
	[xnum] [int] NULL,
	[xinc] [int] NULL,
	[xwh] [varchar](50) NULL,
	[zactive] [varchar](1) NULL,
	[xacc] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xtypetrn] ASC,
	[xtrn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[xtrnp]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xtrnp](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zid] [int] NOT NULL,
	[xtypetrn] [varchar](50) NOT NULL,
	[xtrn] [char](4) NOT NULL,
	[xtyperel] [varchar](50) NOT NULL,
	[xrel] [char](4) NULL,
	[xrelbn] [char](4) NULL,
	[xreltn] [char](4) NULL,
	[zactive] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xtypetrn] ASC,
	[xtrn] ASC,
	[xtyperel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[xuserpermits]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xuserpermits](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zid] [int] NOT NULL,
	[zemail] [varchar](50) NOT NULL,
	[xmenu] [varchar](50) NOT NULL,
	[xoption] [varchar](50) NOT NULL,
	[xparentmenu] [varchar](250) NOT NULL,
	[xparentoption] [varchar](250) NOT NULL,
	[zscreen] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[zemail] ASC,
	[xmenu] ASC,
	[xoption] ASC,
	[xparentmenu] ASC,
	[xparentoption] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[xusersadmin]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xusersadmin](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zid] [int] NOT NULL,
	[xrow] [int] NOT NULL,
	[xstaff] [varchar](50) NOT NULL,
	[xdate] [datetime] NULL,
	[xterritory] [varchar](50) NULL,
	[xzone] [varchar](50) NULL,
	[xdivision] [varchar](50) NULL,
	[xbusinesscheck] [varchar](50) NULL,
	[xactivetype] [varchar](50) NULL,
	[xtype] [varchar](50) NULL,
	[zactive] [varchar](1) NULL,
	[xyesno] [varchar](50) NULL,
	[xyesno1] [varchar](50) NULL,
	[xyesno2] [varchar](50) NULL,
	[xstatus] [varchar](50) NULL,
	[xyesno3] [varchar](50) NULL,
	[xyesno4] [varchar](50) NULL,
	[xyesno5] [varchar](50) NULL,
	[xyesno6] [varchar](50) NULL,
	[xyesno7] [varchar](50) NULL,
	[xtanks] [varchar](50) NULL,
	[xpipes] [varchar](50) NULL,
	[xdoors] [varchar](50) NULL,
	[xsinks] [varchar](50) NULL,
	[xuseractive] [varchar](50) NULL,
	[xappactive] [varchar](50) NULL,
	[xopactive] [varchar](50) NULL,
	[xnum] [int] NULL,
 CONSTRAINT [PK__xusersad__FF1BD74C3D787F92] PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xrow] ASC,
	[xstaff] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zaudittrail]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zaudittrail](
	[ztime] [datetime] NULL,
	[zid] [int] NULL,
	[zauditid] [int] IDENTITY(10,1) NOT NULL,
	[zemail] [varchar](50) NULL,
	[zscreen] [varchar](50) NULL,
	[zstatement] [varchar](2000) NULL,
	[zpkey] [varchar](50) NULL,
	[zmessage] [varchar](2000) NULL,
	[zcommand] [varchar](50) NULL,
	[zaip] [varchar](50) NULL,
	[zcapstatement] [varchar](2000) NULL,
	[zfstatement] [varchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[zauditid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zaudittraildel]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zaudittraildel](
	[ztime] [datetime] NULL,
	[zid] [int] NULL,
	[zauditid] [int] IDENTITY(10,1) NOT NULL,
	[zemail] [varchar](50) NULL,
	[zscreen] [varchar](50) NULL,
	[zstatement] [varchar](2000) NULL,
	[zpkey] [varchar](50) NULL,
	[zmessage] [varchar](2000) NULL,
	[zcommand] [varchar](50) NULL,
	[zaip] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[zauditid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zhashlog]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zhashlog](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zid] [int] NOT NULL,
	[xtornum] [varchar](50) NOT NULL,
	[xdate] [datetime] NULL,
	[xidsup] [varchar](8) NOT NULL,
	[xencode] [varchar](5000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xtornum] ASC,
	[xidsup] ASC,
	[xencode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zlogintrail]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zlogintrail](
	[zid] [int] NULL,
	[zsessionid] [varchar](150) NOT NULL,
	[zremip] [varchar](50) NULL,
	[zserip] [varchar](50) NULL,
	[zemail] [varchar](50) NULL,
	[zlogintime] [datetime] NULL,
	[zlogouttime] [datetime] NULL,
	[zuseragent] [varchar](2000) NULL,
	[xtype] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[zsessionid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zlogs]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zlogs](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zid] [int] NULL,
	[zerrorid] [int] IDENTITY(1,1) NOT NULL,
	[zscreen] [varchar](50) NULL,
	[zemail] [varchar](50) NULL,
	[zerrornum] [varchar](50) NULL,
	[zstatement] [varchar](2000) NULL,
	[zmessage] [varchar](2000) NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zaip] [varchar](50) NULL,
	[zuip] [varchar](50) NULL,
 CONSTRAINT [PK__zlogs__6166761E] PRIMARY KEY CLUSTERED 
(
	[zerrorid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zreject]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zreject](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zid] [int] NOT NULL,
	[xtrnnum] [varchar](50) NOT NULL,
	[xrow] [int] NOT NULL,
	[xdate] [date] NULL,
	[xdatereject] [datetime] NULL,
	[xcus] [varchar](250) NULL,
	[xnote] [varchar](5000) NULL,
	[xtrn] [char](4) NULL,
	[xpreparer] [varchar](50) NULL,
	[xidsup] [varchar](8) NULL,
	[xsignatory1] [varchar](50) NULL,
	[xsigndate1] [datetime] NULL,
	[xstatus] [varchar](50) NULL,
	[xfwh] [varchar](50) NULL,
	[xtwh] [varchar](50) NULL,
	[xsignatory2] [varchar](50) NULL,
	[xsigndate2] [datetime] NULL,
	[xsignatory3] [varchar](50) NULL,
	[xsigndate3] [datetime] NULL,
	[xsignatory4] [varchar](50) NULL,
	[xsigndate4] [datetime] NULL,
	[xsignatory5] [varchar](50) NULL,
	[xsigndate5] [datetime] NULL,
	[xstatustor] [varchar](50) NULL,
	[xstatusrec] [varchar](50) NULL,
	[xstatusreq] [varchar](50) NULL,
	[xregi] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xtrnnum] ASC,
	[xrow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zscreendetail]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zscreendetail](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zid] [int] NOT NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zemail] [varchar](50) NULL,
	[zscreen] [varchar](50) NOT NULL,
	[xfields] [varchar](50) NULL,
	[xcaption] [varchar](500) NULL,
	[xoption] [varchar](50) NULL,
	[xrow] [int] NOT NULL,
	[xtype] [varchar](50) NULL,
	[zactive] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[zscreen] ASC,
	[xrow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zscreenheader]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zscreenheader](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zid] [int] NOT NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zemail] [varchar](50) NULL,
	[zscreen] [varchar](50) NOT NULL,
	[xdesc] [varchar](1000) NULL,
	[xfields] [varchar](50) NULL,
	[xoption] [varchar](50) NULL,
	[xtype] [varchar](50) NULL,
	[zactive] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[zscreen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zstakeholder]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zstakeholder](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zid] [int] NOT NULL,
	[xrow] [int] NOT NULL,
	[xstaff] [varchar](50) NULL,
	[xname] [varchar](450) NULL,
	[xtitle] [varchar](1000) NULL,
	[xproject] [varchar](50) NULL,
	[xdeptname] [varchar](50) NULL,
	[xdesignation] [varchar](50) NULL,
	[xposition] [varchar](50) NULL,
	[xmobile] [varchar](40) NULL,
	[xemail] [varchar](250) NULL,
	[xrem] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xrow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zstatus]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zstatus](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zauserid] [varchar](50) NULL,
	[zuuserid] [varchar](50) NULL,
	[zid] [int] NOT NULL,
	[xnum] [int] NOT NULL,
	[xlong] [varchar](200) NOT NULL,
	[zactive] [varchar](1) NULL,
 CONSTRAINT [PK_zstatus] PRIMARY KEY CLUSTERED 
(
	[zid] ASC,
	[xnum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zusers]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zusers](
	[ztime] [datetime] NULL,
	[zutime] [datetime] NULL,
	[zemail] [varchar](50) NOT NULL,
	[xpassword] [varchar](50) NULL,
	[xsalute] [varchar](50) NULL,
	[xfirst] [varchar](50) NULL,
	[xmiddle] [varchar](50) NULL,
	[xlast] [varchar](50) NULL,
	[xtitle] [varchar](50) NULL,
	[xorg] [varchar](50) NULL,
	[xadd1] [varchar](50) NULL,
	[xadd2] [varchar](50) NULL,
	[xcity] [varchar](50) NULL,
	[xstate] [varchar](50) NULL,
	[xzip] [varchar](50) NULL,
	[xcountry] [varchar](50) NULL,
	[xphone] [varchar](40) NULL,
	[xfax] [varchar](50) NULL,
	[xurl] [varchar](50) NULL,
	[zactive] [varchar](1) NULL,
	[zref] [varchar](50) NULL,
	[xemailc] [varchar](50) NULL,
	[zaip] [varchar](50) NULL,
	[zuip] [varchar](50) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[zemail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[zusers] ADD  DEFAULT (newid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[apvprcs]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[caitem]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[casup]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[imstoretag]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[mmappointment]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[mmdocdrugprofile]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[mmdocdrugprofile]  WITH CHECK ADD FOREIGN KEY([zid], [xstaff])
REFERENCES [dbo].[pdmst] ([zid], [xstaff])
GO
ALTER TABLE [dbo].[mmdoclabprofile]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[mmdoclabprofile]  WITH CHECK ADD FOREIGN KEY([zid], [xstaff])
REFERENCES [dbo].[pdmst] ([zid], [xstaff])
GO
ALTER TABLE [dbo].[mmlaborder]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[mmonexam]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[mmpreschistory]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[mmpreschistory]  WITH CHECK ADD FOREIGN KEY([zid], [xcase])
REFERENCES [dbo].[mmappointment] ([zid], [xcase])
GO
ALTER TABLE [dbo].[mmprescription]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[pdappsuperior]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[pdappsuperior]  WITH CHECK ADD FOREIGN KEY([zid], [xstaff])
REFERENCES [dbo].[pdmst] ([zid], [xstaff])
GO
ALTER TABLE [dbo].[pddef]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[pddependent]  WITH CHECK ADD FOREIGN KEY([zid], [xstaff])
REFERENCES [dbo].[pdmst] ([zid], [xstaff])
GO
ALTER TABLE [dbo].[pddependent]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[pdempat]  WITH CHECK ADD FOREIGN KEY([zid], [xstaff])
REFERENCES [dbo].[pdmst] ([zid], [xstaff])
GO
ALTER TABLE [dbo].[pdempat]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[pdemptransfer]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[pdemptransfer]  WITH CHECK ADD FOREIGN KEY([zid], [xstaff])
REFERENCES [dbo].[pdmst] ([zid], [xstaff])
GO
ALTER TABLE [dbo].[pdexperience]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[pdexperience]  WITH CHECK ADD FOREIGN KEY([zid], [xstaff])
REFERENCES [dbo].[pdmst] ([zid], [xstaff])
GO
ALTER TABLE [dbo].[pdmst]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[pdmstdetail]  WITH CHECK ADD FOREIGN KEY([zid], [xstaff])
REFERENCES [dbo].[pdmst] ([zid], [xstaff])
GO
ALTER TABLE [dbo].[pdmstdetail]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[pdsignatoryrpt]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[pdsuperior]  WITH CHECK ADD FOREIGN KEY([zid], [xstaff])
REFERENCES [dbo].[pdmst] ([zid], [xstaff])
GO
ALTER TABLE [dbo].[pdsuperior]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[usergroup]  WITH CHECK ADD  CONSTRAINT [FK__usergroup__22751F6C] FOREIGN KEY([zid], [zemail])
REFERENCES [dbo].[xusers] ([zid], [zemail])
GO
ALTER TABLE [dbo].[usergroup] CHECK CONSTRAINT [FK__usergroup__22751F6C]
GO
ALTER TABLE [dbo].[usergroup]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[userpasspolicy]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[userprodnature]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[userprodnature]  WITH CHECK ADD  CONSTRAINT [FK__userprodnature__2645B050] FOREIGN KEY([zid], [zemail])
REFERENCES [dbo].[xusers] ([zid], [zemail])
GO
ALTER TABLE [dbo].[userprodnature] CHECK CONSTRAINT [FK__userprodnature__2645B050]
GO
ALTER TABLE [dbo].[userrepaccess]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[userrepaccess]  WITH CHECK ADD  CONSTRAINT [FK__userrepaccess__31B762FC] FOREIGN KEY([zid], [zemail])
REFERENCES [dbo].[xusers] ([zid], [zemail])
GO
ALTER TABLE [dbo].[userrepaccess] CHECK CONSTRAINT [FK__userrepaccess__31B762FC]
GO
ALTER TABLE [dbo].[userstore]  WITH CHECK ADD  CONSTRAINT [FK__userstore__3A81B327] FOREIGN KEY([zid], [zemail])
REFERENCES [dbo].[xusers] ([zid], [zemail])
GO
ALTER TABLE [dbo].[userstore] CHECK CONSTRAINT [FK__userstore__3A81B327]
GO
ALTER TABLE [dbo].[userstore]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[userunits]  WITH CHECK ADD  CONSTRAINT [FK__userunits__3587F3E0] FOREIGN KEY([zid], [zemail])
REFERENCES [dbo].[xusers] ([zid], [zemail])
GO
ALTER TABLE [dbo].[userunits] CHECK CONSTRAINT [FK__userunits__3587F3E0]
GO
ALTER TABLE [dbo].[userunits]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[vitalssign]  WITH CHECK ADD FOREIGN KEY([zid], [xcase])
REFERENCES [dbo].[mmappointment] ([zid], [xcase])
GO
ALTER TABLE [dbo].[vitalssign]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[xcodes]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[xlocals]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[xpermits]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[xprivilege]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[xrolepermits]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[xrolepermits]  WITH CHECK ADD FOREIGN KEY([zid], [xrole])
REFERENCES [dbo].[xroles] ([zid], [xrole])
GO
ALTER TABLE [dbo].[xroleprivilege]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[xroles]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[xtrn]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[xtrnp]  WITH CHECK ADD FOREIGN KEY([zid], [xtypetrn], [xtrn])
REFERENCES [dbo].[xtrn] ([zid], [xtypetrn], [xtrn])
GO
ALTER TABLE [dbo].[xtrnp]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[xuserpermits]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[xuserpermits]  WITH CHECK ADD  CONSTRAINT [FK__xuserpermits__33D4B598] FOREIGN KEY([zid], [zemail])
REFERENCES [dbo].[xusers] ([zid], [zemail])
GO
ALTER TABLE [dbo].[xuserpermits] CHECK CONSTRAINT [FK__xuserpermits__33D4B598]
GO
ALTER TABLE [dbo].[xusers]  WITH CHECK ADD  CONSTRAINT [FK__xusers__zid__29572725] FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[xusers] CHECK CONSTRAINT [FK__xusers__zid__29572725]
GO
ALTER TABLE [dbo].[xusersadmin]  WITH CHECK ADD  CONSTRAINT [FK__xusersadmin__33BCDD37] FOREIGN KEY([zid], [xstaff])
REFERENCES [dbo].[pdmst] ([zid], [xstaff])
GO
ALTER TABLE [dbo].[xusersadmin] CHECK CONSTRAINT [FK__xusersadmin__33BCDD37]
GO
ALTER TABLE [dbo].[xusersadmin]  WITH CHECK ADD  CONSTRAINT [FK__xusersadmin__zid__32C8B8FE] FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[xusersadmin] CHECK CONSTRAINT [FK__xusersadmin__zid__32C8B8FE]
GO
ALTER TABLE [dbo].[zhashlog]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[zlogs]  WITH CHECK ADD  CONSTRAINT [FK__zlogs__zid__33572959] FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[zlogs] CHECK CONSTRAINT [FK__zlogs__zid__33572959]
GO
ALTER TABLE [dbo].[zreject]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[zscreendetail]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[zscreendetail]  WITH CHECK ADD FOREIGN KEY([zid], [zscreen])
REFERENCES [dbo].[zscreenheader] ([zid], [zscreen])
GO
ALTER TABLE [dbo].[zscreenheader]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[zstakeholder]  WITH CHECK ADD FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[zstatus]  WITH CHECK ADD  CONSTRAINT [FK__zstatus__zid__27A8135A] FOREIGN KEY([zid])
REFERENCES [dbo].[zbusiness] ([zid])
GO
ALTER TABLE [dbo].[zstatus] CHECK CONSTRAINT [FK__zstatus__zid__27A8135A]
GO
/****** Object:  StoredProcedure [dbo].[zabsp_vital_calc]    Script Date: 11/24/2024 7:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
--  exec zabsp_vital_calc 400010,'OPD-20230117HS0193602'
CREATE PROCEDURE  [dbo].[zabsp_vital_calc] 
	-- Add the parameters for the stored procedure here
	 @zid INT
	,@case varchar(50)
	
AS
	SET NOCOUNT ON;
	DECLARE
		@xrow int
	   ,@bsa DECIMAL(20,5)
	   ,@bmi DECIMAL(20,5)
	   ,@xheightvit DECIMAL(20,5)
	   ,@xweightvit DECIMAL(20,5)
	   ,@xavpu DECIMAL(20,5)
	   ,@xtrauma DECIMAL(20,5)
	   ,@xbmigyn DECIMAL(20,5)
	   ,@xbsa DECIMAL(20,5)
	   ,@height DECIMAL(20,5)
	   ,@weight DECIMAL(20,5)
	   ,@xofc DECIMAL(20,5)
	   ,@ibmen DECIMAL(20,5)
	   ,@ibwmen DECIMAL(20,5)
	   ,@dummyht DECIMAL(20,5)
	   ,@dummyht2 DECIMAL(20,5)

		
   DECLARE cursor_bulk CURSOR FORWARD_ONLY FOR

		select xrow,cast (ISNULL(xheightvit,0) as decimal(20,5)),cast(isnull(xweightvit,0) as decimal(20,5))
		from dbo.vitalssign WITH (NOLOCK) 
		where zid=@zid and xcase=@case

		--print 'Hey'
	OPEN cursor_bulk
	FETCH FROM cursor_bulk INTO @xrow,@height,@weight
		

	WHILE @@FETCH_STATUS = 0
	BEGIN
		set @xheightvit= isnull(@weight,0)/isnull(@height,1)
		set @xofc=isnull(@xheightvit,0)/isnull(@height,1)
		set @bmi=isnull(@xofc,0)*10000
		set @xavpu= isnull(@height,0)*isnull(@weight,0)
		set @xtrauma=isnull(@xavpu,0)/3600
		set @bsa=SQRT(@xtrauma)
		set @dummyht=isnull(@height,0)-152.40
		set @dummyht2=0.91*isnull(@dummyht,0)
		set @ibmen=50.00+isnull(@dummyht2,0)
		set @ibwmen=45.50+isnull(@dummyht2,0)

	
		update dbo.vitalssign SET xbmigyn=@bmi,xbsa=@bsa,xibwmen=@ibwmen,xibwwom=@ibmen where zid=@zid and xcase=@case
		--print @bmi
		--print @bsa
		FETCH NEXT FROM cursor_bulk INTO @xrow,@height,@weight
		END
	CLOSE cursor_bulk
	DEALLOCATE cursor_bulk

	--ALTER TABLE vitalssign
	--ADD xrem VARCHAR(200)
   
		
	
	
	
	


GO
